.nav {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        cursor: pointer;
        &:hover {
            color: purple;
        }
    }
}
